<form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">

  <div class="form-group">
    <label>Cliente</label>
    <input type="text" class="form-control" formControlName="cliente">

  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <label>Data do Pedido</label>

      <input type="text" class="form-control" formControlName="dataPedido">

    </div>
    <div class="form-group col-6">
      <label>Data entrega</label>

      <input type="text" class="form-control" formControlName="dataEntrega">

    </div>
  </div>
  <div class="form-row">
    <div class="form-check form-group">
      <input class="form-check-input" type="radio" id="entregaRetirada1" value="ENTREGA"
        formControlName="entregaRetirada">
      <label class="form-check-label" for="entregaRetirada1">
        Entrega (+ R$ 5)
      </label>
    </div>
    <div class="form-check ml-5 form-group">
      <input class="form-check-input" type="radio" id="entregaRetirada2" value="RETIRADA"
        formControlName="entregaRetirada">
      <label class="form-check-label" for="entregaRetirada2">
        Retirada
      </label>
    </div>
    <div class="form-check ml-5 form-group">
      <input class="form-check-input" type="radio" id="entregaRetirada3" value="N/A" formControlName="entregaRetirada">
      <label class="form-check-label" for="entregaRetirada3">
        N/A
      </label>
    </div>
  </div>

  <div class="form-group" [hidden]="!eEntrega">
    <label>Endereço entrega</label>
    <input type="text" class="form-control" formControlName="enderecoEntrega">
  </div>
  <ng-container formArrayName="pedido">
    <div class="form-row" *ngFor="let p of formGroup?.get('pedido')?.controls">
      <ng-container [formGroup]="p">
        <div class=" form-group col-5">
          <label for="">Pedido</label>
          <select class="custom-select" formControlName="nome">
            <option value="">Escolha...</option>
            <option value="BOMBOM 9 UNIDADES">Bombom 9 unidades</option>
            <option value="BOMBOM 24 UNIDADES">Bombom 24 unidades</option>
            <option value="TRUFA 4 UNIDADES">Trufa 4 unidades</option>
            <option value="TRUFA 6 UNIDADES">Trufa 6 unidades</option>
            <option value="TRUFA 10 UNIDADES">Trufa 10 unidades</option>
            <option value="OVO DE COLHER 150GR">Ovo de colher 150gr</option>
            <option value="OVO DE COLHER 250GR">Ovo de colher 250gr</option>
            <option value="OVO DE COLHER 350GR">Ovo de colher 350gr</option>
            <option value="OVO DE COLHER 500GR">Ovo de colher 500gr</option>
            <option value="OVO TRUFADO 150GR">Ovo trufado 150gr</option>
            <option value="OVO TRUFADO 250GR">Ovo trufado 250gr</option>
            <option value="OVO TRUFADO 350GR">Ovo trufado 350gr</option>
            <option value="OVO TRUFADO 500GR">Ovo trufado 500gr</option>
            <option value="OVO TRUFADO 150GR">Ovo simples 150gr</option>
            <option value="OVO TRUFADO 250GR">Ovo simples 250gr</option>
            <option value="OVO TRUFADO 350GR">Ovo simples 350gr</option>
            <option value="OVO TRUFADO 500GR">Ovo simples 500gr</option>
            <option value="KIT CONFEITEIRO">Kit Confeiteiro</option>
          </select>
        </div>
        <div class="form-group col-2">
          <label>Qtd</label>
          <input type="number" class="form-control" formControlName="quantidade">
        </div>
        <div class="form-group col-2">
          <label>Valor</label>

          <input currencyMask class="form-control" formControlName="valor">
        </div>
        <div class="col-3 form-group">
          <label for="">Observações</label>
          <input type="text" class="form-control" formControlName="obs">
        </div>
      </ng-container>
    </div>
  </ng-container>
  <button type="button" class="btn btn-success" (click)="addItemPedido()">
    <i class="bi bi-plus"></i>
  </button>
  <div class="form-row">
    <div class="form-check form-group">
      <input class="form-check-input" type="radio" id="recheioSimples" value="SIMPLES" checked
        formControlName="recheio">
      <label class="form-check-label" for="recheioSimples">
        Recheio simples
      </label>
    </div>
    <div class="form-check ml-5 form-group">
      <input class="form-check-input" type="radio" id="recheioEspecial" value="ESPECIAL" formControlName="recheio">
      <label class="form-check-label" for="recheioEspecial">
        Recheio especial (+ R$ 10)
      </label>
    </div>
    <div class="form-check ml-5 form-group">
      <input class="form-check-input" type="radio" id="n/aRecheio" value="N/A" formControlName="recheio">
      <label class="form-check-label" for="n/aRecheio">
        N/A
      </label>
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>

    <input currencyMask class="form-control" formControlName="total">
  </div>
  <div class="form-group">
    <label>Metodo pagamento</label>
    <select class="custom-select" id="validatedInputGroupSelect1" formControlName="metodoPagamento">
      <option value=""></option>
      <option value="PIX">PIX</option>
      <option value="CREDITO (PICPAY)">CREDITO PICPAY</option>
      <option value="DINHEIRO">DINHEIRO</option>
    </select>
  </div>
  <div class="form-group">
    <label>Status pagamento</label>

    <select class="custom-select" id="validatedInputGroupSelect2" formControlName="statusPagamento">
      <option value="PENDENTE">Pendente</option>
      <option value="PAGO">Pago</option>
    </select>

  </div>
  <div class="form-group">
    <label for="">Pendencias</label>
    <textarea rows="5" formControlName="pendencias" class="form-control"></textarea>
    <!-- <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="pendencias"
        value="CAIXA OVO 100GR">
      <label class="form-check-label" for="inlineCheckbox1">CAIXA OVO 100gr</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="pendencias"
        value="CAIXA OVO 150GR">
      <label class="form-check-label" for="inlineCheckbox2">CAIXA OVO 150gr</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" formControlName="pendencias"
        value="CAIXA OVO 250GR">
      <label class="form-check-label" for="inlineCheckbox3">CAIXA OVO 250gr</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" formControlName="pendencias"
        value="CAIXA OVO 350GR">
      <label class="form-check-label" for="inlineCheckbox4">CAIXA OVO 350gr</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" formControlName="pendencias"
        value="CAIXA BOMBOM 9 UN">
      <label class="form-check-label" for="inlineCheckbox5">CAIXA BOMBOM 9 un</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" formControlName="pendencias"
        value="CAIXA BOMBOM 24 UN">
      <label class="form-check-label" for="inlineCheckbox6">CAIXA BOMBOM 24 un</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox7" formControlName="pendencias"
        value="CAIXA TRUFA 4 UN">
      <label class="form-check-label" for="inlineCheckbox7">CAIXA TRUFA 4 UN</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox8" formControlName="pendencias"
        value="CAIXA TRUFA 6 UN">
      <label class="form-check-label" for="inlineCheckbox8">CAIXA TRUFA 6 UN</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox9" formControlName="pendencias"
        value="CAIXA TRUFA 10 UN ">
      <label class="form-check-label" for="inlineCheckbox9">CAIXA TRUFA 10 UN </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox10" formControlName="pendencias"
        value="SACOLA PARA BOMBOM">
      <label class="form-check-label" for="inlineCheckbox10">SACOLA PARA BOMBOM</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox11" formControlName="pendencias"
        value="SACOLA PARA TRUFA ">
      <label class="form-check-label" for="inlineCheckbox11">SACOLA PARA TRUFA </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox12" formControlName="pendencias"
        value="SACOLA PARA OVOS">
      <label class="form-check-label" for="inlineCheckbox12">SACOLA PARA OVOS</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox13" formControlName="pendencias"
        value="SACOLA PARA KIT CONFEITEIRO ">
      <label class="form-check-label" for="inlineCheckbox13">SACOLA PARA KIT CONFEITEIRO </label>
    </div> -->
  </div>
  <button type="submit" class="btn btn-success">Salvar</button>
</form>

<!-- <div class="row">

  <textarea class="form-control" rows="10">
    {{getFormJson()}}
  </textarea>
</div> -->
